/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-5;
  border-collapse: collapse;
  border: 0px solid $light-gray;

  & + table {
    margin-top: 1em;
  }
}

thead, th {
  padding: 0.1em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  font-weight: normal;
  text-align: left;
  border-right: 0px solid $light-gray;
}

td {
  padding: 0.1em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  border-bottom: 0px solid $light-gray;
  border-right: 0px solid $light-gray;
}

tr, td, th {
  vertical-align: top;
}
